body {
  font-family: system-ui;
  font-size: 1.5vw;
}

@media print {
  .pagebreak { page-break-before: always; }
}

.resource-body {
  position: relative;
  top: 34%;
  text-align: center;
  margin-right: 7px;
}

.resource-line {
  position: relative;
  text-align: center;
  margin-right: 0.1%;
  top: 60.8%;
  font-weight: bold;
}

.icon {
  vertical-align: middle;
  padding-bottom: 0.15em;
  margin-left: 2px;
  height: 1.1em;
}

.resource-body .icon {
  height: 9.24vw;
  opacity: 85%;
  margin-left: 1vw;
  margin-top: 1vw;
}

span.size_0 {
  font-size: 2.64vw;
}

span.size_1 {
  font-size: 2vw;
}

span.size_2 {
  font-size: 1.76vw;
}

span.size_3 {
  font-size: 1.67vw;
}

span.size_4 {
  font-size: 1.6vw;
}

span.size_5 {
  font-size: 1.38vw;
}

span.size_6 {
  font-size: 1.06vw;
}

span.size_7 {
  font-size: 0.98vw;
}

.card-row {
  display: flex;
  justify-content:space-between;
  width: 88.2%;
}

.cost {
  padding-top: 1%;
  height: 100%;
}

.cost .icon {
  padding-bottom: 0.3vw;
}

.card {
  aspect-ratio: 0.72;
  width: 33.333%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-art-inner {
  width: 100%;
  height: 100%;
}

.card-art {
  width: 82.2%;
  margin-left: 8.9%;
  margin-top: 10%;
  height: 43.7%;
}

.resource {
  background-image: url("resource.png");
}

.townsperson {
  background-image: url("townsperson.png");
}

.research {
  background-image: url("research.png");
}

.market_event {
  background-image: url("market_event.png");
}

.influence {
  background-image: url("influence.png");
}

.worker {
  background-image: url("worker.png");
}

.action {
  background-image: url("action.png");
}

.artifact {
  background-image: url("artifact.png");
}

.trade_license {
  background-image: url("trade_license.png");
}

.card-header {
    font-weight: bold;
    position: relative;
    height: 5%;
    top: 5.85%;
    width: 78.5%;
    text-align: center;
    margin-left: 11%;
    line-height: 100%;
    margin-right: 10.5%;
    display: flex;
    justify-content: space-between; /* align horizontal */
    align-items: center;
}

.card-type-line {
    position: relative;
    height: 5%;
    width: 80%;
    text-align: left;
    margin-left: 11%;
    margin-top: 1.1%;
    line-height: 100%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    font-size: 0.95em;
    font-weight: 500;
}

.card-body {
    position: relative;
    height: 25%;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 3.5%;
    line-height: 100%;
    margin-right: 10%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

