body {
  font-family: system-ui;
  font-size: 0.9em;
}

.resource-body {
  position: relative;
  top: 34%;
  text-align: center;
  margin-right: 7px;
}

.resource-line {
  position: relative;
  text-align: center;
  margin-right: 2.2%;
  top: 56.5%;
  font-weight: bold;
}

.icon {
  vertical-align: middle;
  height: 17px;
  padding-bottom: 3px;
  margin-left: 2px;
}

.icon.size_0 {
  height: 130px;
}

.icon.size_1 {
  height: 115px;
}

.icon.size_2 {
  height: 20px;
}

.icon.size_3 {
  height: 20px;
}

.icon.size_4 {
  height: 18px;
}

.icon.size_5 {
  height: 14px;
}

.icon.size_6 {
  height: 12px;
}

.icon.size_7 {
  height: 12px;
}

span.size_0 {
  font-size: 2em;
}

span.size_1 {
  font-size: 1.7em;
}

span.size_2 {
  font-size: 1.3em;
}

span.size_3 {
  font-size: 1.2em;
}

span.size_4 {
  font-size: 1em;
}

span.size_5 {
  font-size: 0.9em;
}

span.size_6 {
  font-size: 10px;
}

span.size_7 {
  font-size: 9px;
}

.card-row {
  display: flex;
  justify-content:space-between
  width: 100%;
}

.cost {
  padding-top: 1%;
}

.card {
  height: 420px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-art-inner {
  width: 100%;
  height: 100%;
}

.card-art {
  width: 83%;
  margin-left: 8.5%;
  margin-top: 10%;
  height: 43%;
}

.resource {
  background-image: url("resource.png");
}

.townspeople {
  background-image: url("townspeople.png");
}

.research {
  background-image: url("research.png");
}

.market_event {
  background-image: url("market_event.png");
}

.influence {
  background-image: url("influence.png");
}

.worker {
  background-image: url("worker.png");
}

.trade_license {
  background-image: url("trade_license.png");
}

.card-header {
    font-weight: bold;
    position: relative;
    height: 5%;
    top: 5.7%;
    width: 78.5%;
    text-align: center;
    margin-left: 11%;
    line-height: 100%;
    margin-right: 10.5%;
    display: flex;
    justify-content: space-between; /* align horizontal */
    align-items: center;
}

.card-body {
    position: relative;
    height: 25%;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 13%;
    line-height: 100%;
    margin-right: 10%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

